.form {
  padding: 30px 0;
  background-color: #2d3651;

  &__container {
    display: grid;
    grid-gap: 20px;
    max-width: 1340px;
    margin: auto;
    padding-right: 20px;
    padding-left: 20px;
    grid-template-columns: repeat(3, 1fr);

    @include lg-min {
      grid-template-columns: repeat(3, 1fr);
    }
    @include lg-md {
      grid-template-columns: repeat(3, 1fr);
    }  
    @include md-sm {
      grid-template-columns: 1fr 1fr;
    }
    @include sm {
      grid-template-columns: 1fr;
    }
  }

  &-item {
    @include md-sm {
      &:nth-of-type(1) {
        grid-column: 1 / span 2;
      }
    }
  }

  &-item__input {
    display: block;
    width: 100%;
    height: 60px;
    padding-right: 20px;
    padding-left: 20px;
    transition: background-color 0.5s, border-color 0.5s;
    letter-spacing: 0.15em;
    color: #ffffff;
    border: 2px solid rgba(255, 255, 255, 0);
    border-bottom-color: rgba(255, 255, 255, 0.25);
    background-color: rgba(255, 255, 255, 0.05);
    font-size: 1.125rem;
  }

  .btn-accent {
    width: 100%;
    color: #ffffff;
    border-bottom-color: rgba(255, 255, 255, 0.2);
    background-color: rgba(255, 255, 255, 0.1);
  }
}

.form-item__input:hover, 
.form-item__input:focus {
  border-color: rgba(255, 255, 255, 0.15);
  border-bottom-color: #ffffff;
  background-color: rgba(255, 255, 255, 0.15);
}

.form .btn-accent:hover, 
.form .btn-accent:focus {
  cursor: pointer;
  border-color: #ffffff;
  background-color: #d66926;
  transition: background-color 0.5s;
}

button, input {
  margin: 0;
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  text-transform: none;
  overflow: visible;
}