.posts {

  @include lg-min {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  @include lg-md {
    padding-top: 80px;
    padding-bottom: 80px;
  }
  @include md  {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  &__container {
    max-width: 1340px;
    margin: auto;
    padding-right: $gap;
    padding-left: $gap;
  }

  &__grid {
    display: grid;
    padding-bottom: $gap;
    grid-gap: $gap;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas: "p1 p1 p2 p3" "p4 p5 p6 p6";

    @include lg-min {
      grid-template-columns: repeat(4, 1fr);
      grid-template-areas: "p1 p1 p2 p3" "p4 p5 p6 p6";
    }
    @include lg-md {
      grid-template-columns: repeat(3, 1fr);
      grid-template-areas: "p1 p1 p2" "p3 p4 p4" "p5 p5 p6";
    }
    @include md-sm {
      grid-template-columns: 1fr 1fr;
      grid-template-areas: "p1 p2" "p3 p4" "p5 p6";
    }
    @include sm {
      grid-template-columns: 1fr;
      grid-template-areas: "p1" "p2" "p3" "p4" "p5" "p6";
    }
  }

  &__button {
    display: flex;
    justify-content: center;
  
    @include sm {
      display: flex;
      justify-content: center;
    }
  }
}
